$color_ground: #312b29; 
$color_wash: #9e8f76;
$color_rust: #806c5a;
$color_rich: #363639;
$color_dark: #1e1e1e;

$p_onlight: $color_wash;;
$p_ondark: $color_wash;
$h1_onlight: $color_ground;
$h1_ondark: #fff;

$article_date: $color_ground;
$article_header: $color_ground;
$article_paragraph: $color_wash;
$article_date_hover: $color_wash;
$article_header_hover: $color_wash;
$article_paragraph_hover: $color_ground;

$button_onlight: #fff;
$button_ondark: #fff;

$color_vimeo:#1ab7ea;
$color_snapchat:#fffc01;
$color_instagram:#2a5b83;
$color_facebook:#4b6daa;
$color_twitter:#659fcb;